<h1>Draggable</h1>

<section>
  <h2>Part 1 - draggable directive</h2>

  <div class="box" appDraggable>
    Draggable
  </div>
</section>

<section>
  <h2>Part 2 - movable directive</h2>

  <div class="box" appMovable>
    Movable 1
  </div>

  <div class="box" appMovable [appMovableReset]="true">
    Movable 2
  </div>
</section>

<section>
  <h2>Part 3 - movable area</h2>

  <div class="area" appMovableArea>
    <div class="box" appMovable *ngFor="let trapped of trappedBoxes">
      {{ trapped }}
    </div>
  </div>

  <button (click)="add()">Add</button>
</section>

<section>
  <h2>Part 4 - the draggable helper</h2>

  <div class="box" appDraggable>
    Drag me!

    <div class="box helper" *appDraggableHelper>
      Drag me!
    </div>
  </div>
</section>

<section>
  <h2>Part 5 - the sortable list</h2>

  <h3>Vertical</h3>

  <ul appSortableList (sort)="sort($event)">
    <li *ngFor="let box of sortableList" class="box" appSortable>
      {{ box }}
      <div class="box" *appDraggableHelper>{{ box }}</div>
    </li>
  </ul>

  <h3>Horizontal</h3>

  <ul class="horizontal" appSortableList (sort)="sort($event)">
    <li *ngFor="let box of sortableList" class="box" appSortable>
      {{ box }}
      <div class="box" *appDraggableHelper>{{ box }}</div>
    </li>
  </ul>
</section>